// Main Colors
$yellow: #F8E825;
$orange: #F5A623;

// Palette
$contrast-0: #000;
$contrast-10: #0d0d0d;
$contrast-20: #1a1a1a;
$contrast-30: #262626;
$contrast-40: #333333;
$contrast-50: #404040;
$contrast-60: #4d4d4d;
$contrast-70: #595959;
$contrast-80: #666666;
$contrast-90: #737373;
$contrast-100: #808080;
$contrast-120: #8c8c8c;
$contrast-130: #999999;
$contrast-140: #a6a6a6;
$contrast-150: #b3b3b3;
$contrast-160: #bfbfbf;
$contrast-170: #cccccc;
$contrast-180: #d9d9d9;
$contrast-190: #e6e6e6;
$contrast-200: #f2f2f2;

// Color Assignments


